.navbar {
    background-color: #0c9be3;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.content {
    margin: 50px;
}



h1 {
    color: #333;
}

a {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    color: #fff;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* Darker Green */
}

a:hover::before {
    content: '';
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: -1;
    transform: scale(2);
    transition: transform 0.3s ease-out;
}

a:hover button {
    transform: scale(1.1);
}