.social {
	width: 50px;
    position: absolute;
    right: 25px;
    top: 25px;
}

.social a {
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

.social i {
	font-size: 1.6em;
	display: inline-block;
}